name: Push image to GHCR (Github Container Registry)

on:
    workflow_dispatch:
    push:
        branches:
            - main

jobs:
    push_to_ghcr:
        name: Push docker image to GHCR
        runs-on: ubuntu-latest
        permissions:
            packages: write
            contents: read
            attestations: write
            id-token: write

        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: List files
              run: ls -lah

            - name: Login to GHCR
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build and push docker image to GHCR
              uses: docker/build-push-action@v6
              with:
                  push: true
                  tags: ghcr.io/${{ github.repository }}:latest
                  build-args: |
                      BUILDKIT_CONTEXT_KEEP_GIT_DIR=1
              id: docker_build_push

            - name: List files inside the docker image
              run: docker run ghcr.io/${{ github.repository }}:latest ls -lah /app

            - name: Echo image ID, digest
              run: |
                  echo Image ID: ${{ steps.docker_build_push.outputs.imageid }}
                  echo Digest: ${{ steps.docker_build_push.outputs.digest }}

            - name: Trigger Railway's redeploy
              run: |
                  curl -v -X POST https://backboard.railway.com/graphql/v2 \
                      -H "Content-Type": "application/json"
                      -H "Authorization: Bearer ${{ secrets.RAILWAY_API_TOKEN }}"
                      -d '{
                          "query": "mutation { serviceInstanceRedeploy(serviceId: \"${{ vars.RAILWAY_SERVICE_ID }}\", environmentId: \"${{ vars.RAILWAY_ENVIRONMENT_ID}}\") }"
                      }'
